<div class="row">

<ul class="navmenut inline-list">
<li><a href="current.html">Текущее</a></li>
<li><a href="#" class="active">Архив</a></li>
</ul>

</div>




<div class="row">
<table style="width:100%">
  <thead>
    <tr style="background: #dedede;">
      <th width="200">Имя заказчика</th>
      <th>Название картины</th>
      <th width="150">Дата покупки</th>
      <th width="150">Статус</th>
      <th width="150">Цена</th>
    </tr>
  </thead>
  <tbody>
    <tr class="canceledt">
      <td>Иван Иванов</td>
      <td>Просвещенные удовольствия.</td>
      <td>07.05.2015</td>
        <td>Отменен<div>07.05.2015</div></td>
      <td>$370 000</td>
    </tr>
    <tr>
      <td>Иван Иванов</td>
      <td>Просвещенные удовольствия.</td>
      <td>07.05.2015</td>
        <td>Закрыт<div>07.05.2015</div></td>
      <td>$370 000</td>
    </tr>
    <tr>
      <td>Иван Иванов</td>
      <td>Просвещенные удовольствия.</td>
      <td>07.05.2015</td>
        <td>Закрыт<div>07.05.2015</div></td>
      <td>$370 000</td>
    </tr>
    <tr>
      <td>Иван Иванов</td>
      <td>Просвещенные удовольствия.</td>
      <td>07.05.2015</td>
        <td>Закрыт<div>07.05.2015</div></td>
      <td>$370 000</td>
    </tr>

  </tbody>
</table>
</div> 
